@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body {
    font-family: 'Playfair Display', serif;
}

.bg-naw {
    background-color: rgb(3, 162, 162);
}

.icon_style {

    margin-left: 20px;
    font-size: 40px;
}

.icon_style a i {
    color: white;

}

/* swper css  */
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*---------------------
 OtC style
 -------------------------  */
.fast_DOCKTOR_bg {
    background-image: url("../img/fast_bg.jpg");
    height: 200px;
    width: 90%;
    background-position: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 10px / 30px;
}

.fast_DOCKTOR_bg h1 {
    padding: 20px;
    color: white;
    display: inline-block;

    font-size: 5em;
}

.otg_card {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;


}

.otg_card .card {
    background-color: #a1f4e563;
    border-radius: 5px;
}

.otg_card img {
    /* border: 2px solid green; */
    padding: 5px;
    height: 250px;
}

.otg_card a {
    text-decoration: none;
    font-size: 2em;
}

/*---------------
 section section 
 ------------------ */
.secent_sec img {
    height: 200px;

    width: 50%;

}

.secent_sec {
    background-image: url("../img/2_beg\ \(2\).jpg");
    width: 90%;
    height: 200px;
    background-position: center;

    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 10px / 30px;
}

.secent_sec h1 {
    color: orange;
    display: inline-block;
    margin-top: 50px;
    font-size: 4em;
}

/* ---------------------- */
/* devise card  */
.card_height {
    height: 530px;
}

/* youger section */
.youger {
    background-image: url("../img/youger/youger_bg.jpg");
    height: 300px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.youger_col {
    background-color: rgba(82, 82, 244, 0.462);
    height: 300px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.youger_col img {
    height: 100px;


    border-radius: 50%;
}

.youger_col h1 {

    color: white;
}

.youger_col h3 {
    color: white;


}

/* form style  */
.form_style form .email {
    margin-top: 50px;
    height: 50px;
    width: 320px;
    border: 2px solid black;

}

.form_style form .email:hover {
    border: 3px solid gold;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.form_style form .submit {
    height: 50px;
    width: 150px;
    background-color: orange;
    font-size: 1.5em;
    margin-left: 15px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.form_style form .text_diskp {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

/*----------
 doctor section
 ------------  */
.container_docktor {
    position: relative;
    width: 100%;
}

.container_docktor .image {
    display: block;
    width: 100%;
    height: 300px;
}

.container_docktor .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #00CBE0;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.container_docktor:hover .overlay {
    height: 100%;
}

.container_docktor .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

/*---------
 footer design
 -----------------  */
footer {
    background-image: url("../img/footer_img.jpg");
    background-position: center;
    background-size: cover;
}

footer .Section a {
    text-decoration: none;
    color: blue;
    padding: 5px 20px;
}

footer .Section a:hover {
    text-align: center;
    padding: 5px 20px;
    width: 100%;
    background-color: rgba(255, 228, 196, 0.348);
    border-top: 1px solid rgba(255, 255, 255, 0.745);
    border-bottom: 1px solid rgba(255, 255, 255, 0.745);

}

footer .Social_Links a {
    color: blue;
    font-size: 3em;
    padding: 20px;
    background-color: rgba(92, 222, 255, 0.473);
    border-radius: 100% 0% 0% 100% / 100% 0% 100% 0%;
}

footer .Social_Links a:hover {
    color: black;
    padding: 20px;
    background-color: rgba(255, 92, 92, 0.473);
    border-radius: 100% 0% 100% 0% / 0% 0% 100% 100%;

}